<!--navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >TIAA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/analysis" routerLinkActive="active">Add Question</a></li>
      <li><a routerLink="/monthly" routerLinkActive="active">Monthly Analysis</a></li>
      <li><a routerLink="/yearly" routerLinkActive="active">Yearly Analysis</a></li>
      <li><a routerLink="/comment" routerLinkActive="active">Comment Analysis</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<table><tr>
  <td style="width:700px ; height:550px; background-color:rgba(255,255,255,0.35);padding:20px;" >
<mat-tab-group>
  <mat-tab label="About"><mat-card style="height:300px">
              <h3>Welcome to Feedback Analytics!</h3>
              Features:<br>
        <mat-list>
          <mat-list-item>Add/Mute/Unmute questions from the given list</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Select a question to update its Name</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Check the monthly/yearly analysis for each question.</mat-list-item>
        </mat-list>

  </mat-card></mat-tab>
  <mat-tab label="Add Question"><mat-card style="height:300px"><div style="position:absolute;top:90px;left:50px">
        <h4><mark style="background: rgba(0,0,0, 0.75);color: white;">Add A New Question Here!</mark></h4>
        <mat-form-field >
                <input matInput [(ngModel)]="question" placeholder="Add.." value="Type.." style="width:100%">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="addQuestion()" >Add</button><br><br>
  </div>
    <!--update-->
    </mat-card></mat-tab>
  <mat-tab label="Update Question"><mat-card style="height:300px"><div style="position:absolute;top:90px;left:50px">
            <h4><mark style="background: rgba(0,0,0, 0.75);color: white;">Selected Question:
            </mark>{{editQuestion}}</h4>
            <mat-form-field >
              <input matInput [(ngModel)]="question" placeholder="Update Question Here! " value="Type.." style="width:100%">
            </mat-form-field>
            <button  mat-raised-button color="primary" (click)="updateQuestion()" >Update</button>
  </div></mat-card></mat-tab>
</mat-tab-group>
  </td>
<td style="width:700px ; height:550px; background-color:rgba(255,255,255,0.75);padding:20px;">


  <h4><mark style="background: rgba(0,0,0, 0.75);color: white;">Current Questions List:</mark></h4>
  <ul id= "list" class="list-group">
    <li class="list-group-item" style="font-weight:bold;" *ngFor="let question of questionList ; let i = index" [attr.data-index]="i" (click)="selectQuestion(question.questionName)" >
      {{question.questionNo}}:  {{question.questionName}}
    </li>
  </ul>