<!--navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >TIAA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/analysis" routerLinkActive="active">Add Question</a></li>
      <li><a routerLink="/monthly" routerLinkActive="active">Monthly Analysis</a></li>
      <li><a routerLink="/yearly" routerLinkActive="active">Yearly Analysis</a></li>
      <li><a routerLink="/comment" routerLinkActive="active">Comment Analysis</a></li>
    </ul>
  </div>
</nav>

<table>
<tr>
  <td colspan="2" style="width:700px ; height:200px;background-color:rgba(153, 102, 255, 0.4);padding: 20px;text-align:center;font-size:28px;color:rgb(4,89,152);text-shadow: 2px 2px white;font-weight: bold " class="loading2">
   <img src="../../assets/tiaa.png" height="150px" width="150px">
    Welcome to Feedback Analytics!

   


  </td>
</tr>
<tr>
    <td style="width:700px ; height:500px; padding:20px;background:rgba(145, 197, 236, 0.1); " >
      <h4><mark style="background: black;color: white;opacity:0.75">Add A New Question Here!</mark></h4>
      <input type="text" class="textboxclass" [(ngModel)]="question" placeholder="Enter question..."/>
        <button class="button"(click)="addQuestion()" style="color:black;">Add</button><br><br><br><br>
        <!--update-->
    
        <h4><mark style="background: rgba(0,0,0, 0.75);color: white;">Selected Question :</mark>{{selectedQ}}</h4>
        <input type="text" class="textboxclass" placeholder="Edit.." >
    
        <button class="button"(click)="updateQuestion(editQuestion)" style="color:black;">Update</button>
      

    </td>



  <td style="width:700px ; height:250px; background-color:rgba(255,255,255,0.35);padding:20px; " >

<!--add question-->
<h4><mark style="background: rgba(0,0,0, 0.75);color: white;">Current Questions List:</mark></h4>
      <ul id= "list" class="list-group">
        <li class="list-group-item" style="font-weight:bold;" *ngFor="let question of questionList ; let i = index" [attr.data-index]="i" (click)="selectQuestion(i)" >
          <div *ngIf="question.visible">
          <button class="button"(click)="setVisiblity(i)" style="color:black;">MUTE</button>
          {{question.questionNo}}:  {{question.questionName}}
        </div>
          <div *ngIf="!question.visible">
            <button class="button"(click)="setVisiblity(i)" style="color:black;">UNMUTE</button>
            {{question.questionNo}}:  {{question.questionName}}  
          </div> 
        </li>
        </ul>

</td></tr>
</table>

