.loading {
  background: url(../../assets/analysis.jpg) no-repeat center center ;
  background-size:cover;

}
.loading2 {
  background: url(../../assets/linegraph.png) no-repeat center center ;
  background-size:cover;

}
