.textboxclass {
    height: 200px;
    width: 450px;
  margin:50px;
background:transparent;
  color:white;
    }
#list{
  background: rgba(255, 255, 255, 0.35);
  padding-top:30px;
  padding-bottom:30px;
  padding-left:100px;
  padding-right: 100px;
  margin-left:100px;
  margin-right: 100px;
}
.button{
  border:none;
  outline:none;
  height:30px;
  width:70px;
  background:rgba(153, 102, 255, 0.5);
  font-size:18px;
  border-radius:40px;
}
button:hover{
  cursor:pointer;
  background:rgba(153, 102, 255, 0.75);
  color:#000;

}
.button2{
  border:none;
  outline:none;
  height:40px;
  width:150px;
  background:rgba(153, 102, 255, 0.5);
  font-size:12px;
  border-radius:40px;
  position: absolute;
  margin-left: 250px;


}
button2:hover{
  cursor:pointer;
  background:rgba(153, 102, 255, 0.75);
  color:#000;

}

.jumbotron {
  background: url(../../assets/linegraph.png) no-repeat center center ;
  background-size:cover;

}

