<!Doctype  html>
<html>
<h1>TIAA</h1>
<h3>CANDIDATE EXPRIENCE</h3>
<h5>RATING:  1-7: Average, 8-9: Satisfactory, 10: Excellent</h5>
<h5>Queston 1:</h5> 
<p>Your Rating is {{question[1]}} {{quality[1]}}</p>
    <input type="button" value="1" ng-click="setScore(1,1)"/>
    <input type="button" value="2" ng-click="setScore(1,2)"/>
    <input type="button" value="3" ng-click="setScore(1,3)"/>
    <input type="button" value="4" ng-click="setScore(1,4)"/>
    <input type="button" value="5" ng-click="setScore(1,5)"/>
    <input type="button" value="8" ng-click="setScore(1,8)"/>
    <input type="button" value="10" ng-click="setScore(1,10)"/>

<h5>Queston 2:</h5>
<p>Your Rating is {{question[2]}} {{quality[2]}}</p>
    <input type="button" value="1" ng-click="setScore(2,1)"/>
    <input type="button" value="2" ng-click="setScore(2,2)"/>
    <input type="button" value="3" ng-click="setScore(2,3)"/>
    <input type="button" value="4" ng-click="setScore(2,4)"/>
    <input type="button" value="5" ng-click="setScore(2,5)"/>
    <input type="button" value="8" ng-click="setScore(2,8)"/>
    <input type="button" value="10" ng-click="setScore(2,10)"/>

</html>